.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.converter {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 150px;
  text-align: right;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-list {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.select-list option {
  text-align: center;
}

